---
import Layout from "../../../layouts/Layout.astro";
import ProtectedRoute from "../../../components/authentication/ProtectedRoute.vue";
import Profile from "../../../components/user/Profile.vue"
---

<Layout title="myProfile">
    <ProtectedRoute client:load>
        <div class="h-fit p-10 main-container bg-neutral mt-10">
            <Profile client:load/>

        </div>

    



    <ProtectedRoute/>
</Layout>

<style>
      .main-container {
        border-radius: 15px;
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
</style>