---
import Layout from "../../layouts/Layout.astro";
import RegisterForm from "../../components/authentication/RegisterForm.vue";
---

<Layout title="Registrarse">
  <div class="min-h-[80vh] flex items-center justify-center">
    <div class="h-fit p-10 main-container bg-base-100">
      <h1 class="text-center font-bold">Bienvenido a Suffgo</h1>
      <div class="text-center items-center mt-10">
        <RegisterForm client:load/>
      </div>
    </div>
  </div>
</Layout>

<style>
  .main-container{
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
</style>