---
import Layout from "../../layouts/Layout.astro";
import LoginForm from "../../components/authentication/LoginForm.jsx";
import LoginFormVue from "../../components/authentication/LoginVue.vue";
import RegisterForm from "../../components/authentication/RegisterForm.vue";
---

<Layout title="Registrarse">
  <div class="mt-5 place-items-center min-h-fit flex h-screen">
    <div class="h-fit p-10 main-container bg-white">
      <h1 class="text-center font-bold">Bienvenido a Suffgo</h1>
      <div class="text-center items-center mt-10">
        <!-- <LoginForm client:load /> -->
        <RegisterForm client:load/>
      </div>
    </div>
  </div>
</Layout>

<style>
  .main-container{
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
</style>
