---
import RoomInfo from "../../../components/room/RoomInfo.vue";
import ProtectedRoute from "../../../components/authentication/ProtectedRoute.vue";
import Layout from "../../../layouts/Layout.astro";
import StartRoom from "../../../components/room/lobby/components/StartRoom.vue";

const id  = Astro.params.id as string;
---

<Layout title="Sala">
  <ProtectedRoute client:load />
  <div class="mt-5  min-h-[90vh]">
    <div class=" main-container bg-neutral">
      <RoomInfo client:load showImage={true} roomId={id}/>       
      <StartRoom client:load roomId={id}/>
    </div>
  </div>
</Layout>
