---
import Layout from "../../layouts/Layout.astro";
import LobbyManager from "../../components/room/LobbyManager.vue";
import ProtectedRoute from "../../components/authentication/ProtectedRoute.vue";
---

<Layout title="Suffgo | Lobby" hideHeader={true}>
    <ProtectedRoute client:load>
        <div class="place-items-center h-full p-0 m-0">
            <LobbyManager client:load/>
        </div>
    </ProtectedRoute>
</Layout>

<style>
    html {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
    }
</style>
