---
import Layout from "../../layouts/Layout.astro";
import LobbyComp from "../../components/room/lobby/Lobby.vue";
import ProtectedRoute from "../../components/authentication/ProtectedRoute.vue";
---

<Layout title="Suffgo">
    <ProtectedRoute client:load>
        <div class="mt-5 place-items-center h-full">
            <div class="p-10">
                <LobbyComp client:load />
            </div>
        </div>
    </ProtectedRoute>
</Layout>

<style>
    .main-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
