---
import Layout from "../../layouts/Layout.astro";
//import LobbyComp from "../../components/room/lobby/lobbyComponents/Lobby.vue";
import LobbyManager from "../../components/room/LobbyManager.vue";
import ProtectedRoute from "../../components/authentication/ProtectedRoute.vue";
---

<Layout title="Suffgo">
    <ProtectedRoute client:load>
        <div class="place-items-center h-full p-0 m-0">
            <LobbyManager client:load/>
        </div>
    </ProtectedRoute>
</Layout>

<style></style>
