---
// import WelcomeMessage from "../../components/WelcomeMessage.jsx";
import WelcomeMessage from "../../components/WelcomeMessage.vue";
import Layout from "../../layouts/Layout.astro";
import ProtectedRoute from "../../components/authentication/ProtectedRoute.vue";
import { Icon } from "@iconify/vue";
import LogoutButton from "../../components/authentication/LogoutButton.vue";
---

<Layout title="Menu">
  <ProtectedRoute client:load>
    <div class="min-h-[80vh] flex items-center justify-center">
      <div class="h-fit p-10 main-container bg-base-100">
        <h1 class="text-center font-bold">
          <WelcomeMessage client:load />
        </h1>
        <div class="text-center items-center mt-10">
          <div>
            <a href="/protected/joinRoom" class="btn btn-primary mb-4">Unirse a sala
            </a>
              
          </div>

          <div>
            <a href="/protected/createRoom" class="btn btn-primary mb-4">Crear sala</a>
          </div>

          <div>
            <a href="/protected/myRooms" class="btn btn-primary mb-4">Mis salas</a>
          </div>
        </div>
      </div>
    </div>
  </ProtectedRoute>

  <style>
    a {
      @apply text-neutral;
      width: 15rem;
    }

    .main-container {
      border-radius: 15px;
      box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    button, a{
      @apply text-accent
    }
  </style>
</Layout>
