---
// import WelcomeMessage from "../../components/WelcomeMessage.jsx";
import WelcomeMessage from "../../components/WelcomeMessage.vue";
import Layout from "../../layouts/Layout.astro";
import ProtectedRoute from "../../components/authentication/ProtectedRoute.vue";
import { Icon } from 'astro-icon/components'
---

<Layout title="Suffgo | Menu">
  <ProtectedRoute client:load>
    <div class="min-h-[80vh] flex items-center justify-center">
      <div class="h-fit p-10 main-container">
        <h1 class="text-center font-bold">
          <WelcomeMessage client:load />
        </h1>
        <div class="text-center items-center mt-10">
          <div>
            <a href="/protected/joinRoom" class="btn btn-primary mb-4">
              <Icon name="mdi:account-multiple-plus" class="mr-2" size={24} />Unirse a sala
            </a>
              
          </div>

          <div>
            <a href="/protected/createRoom" class="btn btn-primary mb-4">
              <Icon name="mdi:plus-circle-outline" class="mr-2" size={24}/>Crear sala</a>
          </div>

          <div>
            <a href="/protected/myRooms" class="btn btn-primary mb-4">
              <Icon name="mdi:format-list-bulleted" class="mr-2" size={24}/>Mis salas</a>
          </div>
        </div>
      </div>
    </div>
  </ProtectedRoute>

  <style>
    a {
      @apply text-neutral;
      width: 15rem;
    }

    .main-container {
      border-radius: 15px;
    }

    button, a{
      @apply text-accent
    }
  </style>
</Layout>
