---
import ProtectedRoute from "../../components/authentication/ProtectedRoute.vue";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sala">
    <ProtectedRoute client:load />

    <h1>Bienvenido</h1>
</Layout>