---
import CardRoom from '../../../components/room/CardRoom.vue';
import ProtectedRoute from '../../../components/authentication/ProtectedRoute.vue';
import Layout from '../../../layouts/Layout.astro';


const { id } = Astro.params;
---


<Layout title="Sala">
    <ProtectedRoute client:load>


        <main class="max-w-6xl mx-auto p-4 bg-base-100 min-h-screen">
            <!-- <Header client:load /> -->
            
            <CardRoom client:load id={id} />
            
        
        </main>
    </ProtectedRoute>
</Layout>


<style>
  main {
    min-height: 100vh;
    background-color: #f9fafb;
  }
</style>