---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Navbar.astro';
import PreviewCard from '../../components/PreviewCard.astro';
---

<Layout title="Preview de la sala">
  <main class="max-w-6xl mx-auto p-4 bg-base-100 min-h-screen">
    <Header />
    
    <PreviewCard
      title=""
      description=""
      date=""
      time=""
      admin=""
    />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background-color: #f9fafb;
  }
</style>