---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Suffgo">
  <h1>bienvenido</h1>

  <div class="bg-primary">Primario</div>
  <div class="bg-secondary">Secundario</div>
  <div class="bg-accent">Accent</div>
  <div class="bg-neutral">Neutral</div>
  <div class="bg-base-100">Base 100</div>
  <div class="bg-info">Info</div>
  <div class="bg-success">Success</div>
  <div class="bg-warning">Warning</div>
  <div class="bg-error">Error</div>
</Layout>

