---
import CheckAuth from "../components/CheckAuth.jsx";
import WelcomeMessage from "../components/WelcomeMessage.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Menu.">
  <main>
    <WelcomeMessage client:load />
    <CheckAuth client:load />
  </main>
</Layout>


