---
interface Props {
    title: string;
    description: string;
    type: 'formal' | 'informal';
}

const { title, description, type } = Astro.props;
import CreateButton from '../components/CreateButton.vue';
---

<div class={`bg-222222 p-8 rounded-lg text-center flex flex-col h-full ${type === 'formal' ? 'border-2 border-primary/20' : 'border-2 border-secondary/20'}`}>
    <h3 class={`font-medium text-xl mb-4 ${type === 'formal' ? 'text-primary' : 'text-secondary'}`}>{title}</h3>
    <p class="text-accent/80 mb-4">{description}</p>
    <ul class="text-left mb-8 flex-grow">
    </ul>

    <CreateButton client:load type={type} />
</div>