---
import "../global.css";
import Header from "../components/reusable/Navbar.vue";
import ViewTransitions from "astro/components/ViewTransitions.astro";
interface Props {
  title: string;
  hideMenuItems?: boolean;
  hideHeader?: boolean;
}

const { title, hideMenuItems=false, hideHeader = false } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="mytheme" class="bg-neutral">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <Header client:only="vue" hideMenuItems={hideMenuItems} hideHeader={hideHeader} />
  </head>
  <body
    class="items-center justify-center">
    <div class="">
      <div class="">
          <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    @apply bg-neutral min-h-screen w-full;
  }

  h1 {
    @apply text-primary;
    font-size: 24px;
  }

  h2 {
    @apply text-secondary;
    font-weight: 600;
    font-size: 20px;
  }

  .btn-primary {
    @apply bg-primary text-white;
  }
  
  .btn-secondary {
    @apply bg-secondary text-white;
  }
</style>

