---
import "../global.css";
import Header from "../components/reusable/Navbar.vue";
import ViewTransitions from "astro/components/ViewTransitions.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="mytheme" class="bg-neutral">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class=" items-center justify-center">
    <div class="">
      <div class="m-4">
          <Header client:load/>
          <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    @apply bg-neutral min-h-screen w-full;
  }

  h1 {
    @apply text-primary;
    font-size: 24px;
  }

  a {
    @apply bg-primary hover:text-primary/80;
    @apply bg-neutral;
  }

  h2 {
    @apply text-secondary;
    font-weight: 600;
    font-size: 20px;
  }
</style>

